*{
    box-sizing: border-box;
}

body{
    background-color: black;
}

#cabecalho{
    
}

header{
    background-image: url(/Imagens/teste-fundo-header.jpg);
    background-repeat: no-repeat;
    background-size: contain;

    width: auto;
}

#fundo{
    background-color: aliceblue;
    border: 1px solid black;
}
