*{
    box-sizing: border-box;
}

body{
    background-color: black;
}

#cabecalho{
    
}

header{
    background-color: blue;
    width: auto;
}

#fundo{
    background-color: aliceblue;
    border: 1px solid black;
}
